<h1>Tarea</h1>

<p>
  <strong>Título:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Editar', edit_task_path(@task) %> |
<%= link_to 'Regresar', tasks_path %>